# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env
.env.*

# Coverage
coverage/

# TypeScript cache
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Optional: local k6 output files
*.json
*.csv